/* Chrome, Safari, Edge, Opera */
#sub-entity-adder input::-webkit-outer-spin-button,
#sub-entity-adder input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
#sub-entity-adder input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

#sub-entity-adder body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.sub-entity-container {
    font-family: sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

#sub-entity-adder input[type="text"],
#sub-entity-adder input[type="number"] {
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#sub-entity-adder button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    margin-block: 0.5rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background-color: #007bff;
    color: #fff;
}

#sub-entity-adder button:hover {
    background-color: #0056b3;
}

#sub-entity-adder button.addMemberButton,
#sub-entity-adder .addMemberToEntityButton {
    background-color: #28a745;
}

#sub-entity-adder button.removeButton,
#sub-entity-adder button.removeMemberButton,
#sub-entity-adder button.removeEntityMemberButton {
    background-color: #dc3545;
    font-size: 1.5rem;
    width: fit-content;
    font-weight: normal;
    line-height: 25px;
}

#sub-entity-adder button.addMemberButton:hover,
#sub-entity-adder.addMemberToEntityButton:hover,
#sub-entity-adder button.addMemberToEntityButton:hover {
    background-color: #218838;
}

#sub-entity-adder button.removeButton:hover,
#sub-entity-adder button.removeMemberButton:hover,
#sub-entity-adder button.removeEntityMemberButton:hover {
    background-color: #c82333;
}

.sub-entity {
    padding: 15px;
    border: solid 0px #027bff;
    border-radius: 10px;
    margin-block: 25px;
    background: #f0f0f0;
}

#sub-entity-adder .sub-entity-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 10px;
    align-items: center;
}

#sub-entity-adder .member-input-row {
    display: grid;
    grid-template-columns: 6fr 3fr 3fr 1fr;
    column-gap: 10px;
    align-items: center;
}

#sub-entity-adder .member,
#sub-entity-adder .entityMember {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 1fr;
    column-gap: 10px;
    align-items: center;
}

#sub-entity-adder input.sub-ownership-input,
#sub-entity-adder input.ownership-input {
    padding-left: 30px;
    width: -webkit-fill-available;
}

h1.entity-name {
    padding: 10px 30px;
    background-color: #007bff;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#sub-entity-adder .hidden {
    display: none;
}

#sub-entity-adder .member-input {
    margin-block: 5px;
}

#sub-entity-adder select {
    width: 100%;
    padding: 9px 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#sub-entity-adder .ownership-row {
    position: relative;
}

#sub-entity-adder .ownership-row:before {
    content: "%";
    position: absolute;
    padding: 5px;
    background-color: #f7f7f7;
    right: 10px;
    border-radius: 6px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

#sub-entity-adder .members-container {
    transform: translateX(20px);
}

#sub-entity-adder .sub-members-container {
    transform: translateX(40px);
}